@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
@import './variables.scss';

:root {
  --color-bg-primary: $primary-bg-color;
  --color-text-primary: $primary-text-color;
  --color-bg-accent: $accent-bg-color;
  --color-text-accent: $accent-text-color;
  --color-bg-error: $error-color;
  --color-text-error: $error-text-color;
  --color-bg-dark: $dark-bg-color;
  --color-text-dark: $dark-text-color;
  --color-bg-light: $light-bg-color;
  --color-text-light: $light-text-color;
}

.bg-primary {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}

body {
  @apply bg-pink-600;
}
