.show-hide {
  display: none;
  height: 0;
  opacity: 0;
  transition: opacity 0.5s;

  &.show {
    display: block;
    opacity: 1;
  }

  .table-of-contents {
    max-height: calc(100vh - 6rem);
  }
}

.nav-button {
  border-color: var(--primary-color);

  &:hover,
  &.active {
    background-color: var(--primary-color);
    border-color: var(--primary-bg-color);
    color: var(--primary-bg-color);
  }
}
