@use '@angular/material' as mat;
/* You can add global styles to this file, and also import other style files */

$density: (
  scale: -1,
);

$dark: mat.define-theme(
  (
    color: (
      primary: mat.$azure-palette,
      theme-type: dark,
    ),
    density: $density,
  )
);

$light: mat.define-theme(
  (
    color: (
      primary: mat.$azure-palette,
      theme-type: light,
    ),
    density: $density,
  )
);

@include mat.core();

body {
  @include mat.all-component-themes($light);

  @media (prefers-color-scheme: dark) {
    @include mat.all-component-colors($dark);
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
