.lineup-form {
  padding: 10px;
}

.player-row {
  padding: 8px 10px 0;

  &:nth-child(even) {
    background-color: var(--mat-sys-surface-container-high);
    border-radius: 12px;
  }
}

.player-select-container {
  display: flex;
  align-items: center;
}

.player-select {
  flex: 1;
}

.actions {
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
}
