<header #primaryHeader class="primary-block pj-header content">
  <div class="pj-header-title content">
    <div class="pj-header-title-logo">
      <img
        [ngSrc]="imageSrc"
        alt="logo"
        height="150"
        width="150"
        [priority]="true"
      />
    </div>
    <div class="pj-header-title-heading">
      <h1>Peter Jokumsen</h1>
      <h2 class="alt-text">An intentional software developer</h2>
      <p>
        <fa-icon class="mr-2" [icon]="codeIcon" aria-label="Code"></fa-icon>
        using
        <img
          class="mx-2"
          ngSrc="assets/icons/c-sharp.svg"
          width="32"
          height="32"
          alt="C#"
          aria-label="C Sharp"
        />
        &amp;
        <img
          class="ml-2"
          ngSrc="assets/icons/typescript.svg"
          width="32"
          height="32"
          alt="Typescript"
          aria-label="Typescript"
        />
      </p>
    </div>
  </div>
  <pj-ui-router-nav [routes]="navElements()"></pj-ui-router-nav>
</header>
@defer {
  @if (windowPastHeader()) {
    <div @showHide class="static-header">
      <button
        type="button"
        class="secondary-header m-3"
        mat-fab
        extended="extended"
        color="primary"
        (click)="expanded = !expanded"
      >
        <div class="flex items-center justify-around">
          <img [ngSrc]="imageSrc" alt="logo" height="60" width="60" />
          <div class="pl-2 pr-5 font-bold">Peter Jokumsen</div>
          <fa-icon [@rotateExpanded]="expanded" [icon]="chevronIcon"></fa-icon>
        </div>
      </button>

      <div class="flex justify-center">
        @if (expanded) {
          <pj-ui-router-nav
            @expandOrCollapse
            [routes]="navElements()"
            flexDirection="col"
            flexAlign="center"
            flexJustify="center"
          ></pj-ui-router-nav>
        }
      </div>
    </div>
  }
}
