<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    [mode]="isMobile() ? 'over' : 'side'"
    [opened]="!isMobile()"
    class="sidenav"
  >
    <mat-nav-list>
      @for (route of navRoutes; track route.route) {
        <a
          (click)="navClicked()"
          mat-list-item
          [routerLink]="route.route"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: route.route === '/' }"
        >
          <mat-icon matListItemIcon>{{ route.icon }}</mat-icon>
          <span matListItemTitle>{{ route.title }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>BB Score</span>
      <span class="spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="themeMenu">
        <mat-icon>palette</mat-icon>
      </button>
    </mat-toolbar>

    <mat-menu #themeMenu="matMenu">
      <button mat-menu-item (click)="setTheme('light')">
        <mat-icon>light_mode</mat-icon>
        <span>Light</span>
      </button>
      <button mat-menu-item (click)="setTheme('dark')">
        <mat-icon>dark_mode</mat-icon>
        <span>Dark</span>
      </button>
      <button mat-menu-item (click)="setTheme('system')">
        <mat-icon>computer</mat-icon>
        <span>System</span>
      </button>
    </mat-menu>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
    <app-update-toast></app-update-toast>
  </mat-sidenav-content>
</mat-sidenav-container>
