<div class="title">
  <span class="header">{{ label }}</span>
  <span class="spacer"></span>
  <button
    matSuffix
    mat-raised-button
    color="primary"
    type="button"
    (click)="addNewPlayer()"
    tabindex="-1"
  >
    <mat-icon>add_circle</mat-icon>
    Add New Player
  </button>
</div>
<div [formGroup]="playerForm" class="player-select-container">
  <mat-form-field appearance="outline" class="player-number">
    <mat-label>Number</mat-label>
    <input
      matInput
      type="number"
      formControlName="playerNumber"
      placeholder="Player #"
    />
  </mat-form-field>

  <mat-form-field appearance="outline" class="player-select">
    <mat-label>Name</mat-label>
    <input
      matInput
      formControlName="playerId"
      [matAutocomplete]="playerAuto"
      placeholder="Type player name or number to find player"
    />
    <mat-autocomplete
      #playerAuto="matAutocomplete"
      [displayWith]="displayFn.bind(this)"
    >
      @for (player of filteredPlayers$ | async; track player.id) {
        <mat-option [value]="player.id">
          {{ player.name }}
          {{ player.number ? '#' + player.number : '' }}
        </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>

  @if (isStarter) {
    <mat-form-field appearance="outline" class="player-position">
      <mat-label>Position</mat-label>
      <mat-select formControlName="position">
        @for (position of fieldPositions; track position.value) {
          <mat-option [value]="position.value">
            {{ position.viewValue }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  }
</div>
