<div class="title">
  <span class="header">{{ label }}</span>
  <span class="spacer"></span>
  <button
    matSuffix
    mat-raised-button
    color="primary"
    type="button"
    (click)="addNewPlayer()"
    [disabled]="playerIdControl.value"
  >
    <mat-icon>add_circle</mat-icon>
    Add New Player
  </button>
</div>
<div [formGroup]="playerForm()" class="player-select-container">
  <mat-form-field appearance="outline" class="player-number">
    <mat-label>Number</mat-label>
    <input
      matInput
      type="number"
      formControlName="playerNumber"
      placeholder="#"
    />
  </mat-form-field>

  <mat-form-field
    [formGroup]="playerFilterFormGroup"
    appearance="outline"
    class="player-select"
  >
    <mat-label>Name</mat-label>
    <input
      matInput
      formControlName="searchPlayer"
      [matAutocomplete]="playerAuto"
      placeholder="Type player name or number to find player"
    />
    @let playersInUse = playerIdsInUse() ?? [];
    <mat-autocomplete
      #playerAuto="matAutocomplete"
      [displayWith]="displayFn.bind(this)"
    >
      @for (player of filteredPlayers$ | async; track player.id) {
        <mat-option
          [value]="player.id"
          [disabled]="playersInUse.includes(player.id)"
        >
          {{ player.name }}
          {{ player.number ? '#' + player.number : '' }}
        </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>

  @if (isStarter()) {
    <mat-form-field appearance="outline" class="player-position">
      <mat-label>Position</mat-label>
      <mat-select formControlName="position">
        @let positionsUsed = disabledPositions() ?? [];
        @for (position of fieldPositions; track position.value) {
          <mat-option
            [value]="position.value"
            [disabled]="
              positionsUsed.includes(position.value) &&
              position.value !== playerPositionControl?.value
            "
          >
            {{ position.label }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  }
</div>
