.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  padding: 1rem;

  h1 {
    padding-top: 3rem;
  }

  img {
    width: 100%;
    max-width: 800px;
  }
}
